.wordsTableDiv {
    width: 100%;
    overflow-x: auto;
    max-width: 1240px;
    max-height: 640px;
    margin-bottom: 32px;
}

.wordsTable {
    width: 100%;
    max-width: 1240px;
    max-height: 640px;
    background-color: #FCFCFC;
    border-collapse: collapse;
}

.tableHeader {
    font-family: "FixelDisplay", sans-serif;
    text-align: left;
    padding: 14px 10px;
    border-bottom: 1px solid #DBDBDB;
    background-color: rgba(133, 170, 159, 0.1);
    border-radius: 2px;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    color: #121417;
}

.tableHeader span {
    gap: 10px;
    display: inline-flex;
    align-items: center;
}

.tableHeader:first-child {
    border-radius: 8px 0 0 0;
}

.tableHeader:not(:last-child) {
    border-right: 1px solid rgba(219, 219, 219, 1);
}

.tableHeader:last-child {
    border-radius: 0 8px 0 0;
}

.tableItem {
    font-family: "FixelDisplay", sans-serif;
    text-align: left;
    padding: 14px 10px;
    border-bottom: 1px solid rgba(219, 219, 219, 1);
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #121417;
}

.tableItem:not(:last-child) {
    border-right: 1px solid rgb(219, 219, 219);
}

.tableItem:first-child {
    width: 370px;
}

.tableItem:last-child {
    width: 208px;
}

.iconCountry {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.addBtnTable {
    font-family: "FixelDisplay", sans-serif;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #FCFCFC;
    color: #121417;
    border: none;
    border-radius: 24px;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.arrowIcon {
    width: 20px;
    height: 20px;
}

.addBtnTable:hover {
    color: rgba(18, 20, 23, 0.5);
}

@media screen and (max-width: 374px) {
    .wordsTableDiv {
        max-width: 500px;
        margin-left: 400px;
    }

    .tableHeader,
    .tableItem {
        font-size: 14px;
        padding: 12px;
        white-space: nowrap;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .wordsTableDiv {
        max-width: 704px;
        margin-left: 150px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .wordsTableDiv {
        max-width: 704px;
        margin-left: 50px;  
    }
    
    .tableHeader:nth-child(1) {
        width: 160px;
    }
    
    .tableHeader:nth-child(2) {
        width: 169px;
    }
    
    .tableHeader:nth-child(3) {
        width: 151px;
    }
    
    .tableHeader:nth-child(4) {
        width: 122px;
    }
    
    .tableHeader:nth-child(5) {
        width: 66px;
    }
    
    .tableHeader {
        font-size: 18px;
        padding: 22px 20px;
    }
    
    .tableItem {
        font-size: 18px;
        padding: 22px 20px;
    }
    
    .iconCountry {
        width: 28px;
        height: 28px;
    }
    
    .addBtnTable {
        display: block;
    }
}