.burgerButton {
    background: none;
    border: none;
    cursor: pointer;
}

.burgerIcon {
    width: 40px;
    height: 28px;
}

.button:hover .iconBurger,
.button:active .iconBurger,
.button:focus .iconBurger {
    color: rgba(18, 20, 23, 0.5);
}

.imgThumb {
    width: 100%;
    margin-top: auto;
}

.illustration {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.menuModal {
    position: fixed;
    right: 0px;
    width: 185px;
    top: 0px;
    z-index: 1000;
    height: 100%;
    padding: 16px;
    background-color: #85AA9F;
    overflow: hidden;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: transform 0.35s ease-in-out;
}

.menuModal.open {
    transform: translateX(0);
}

.btnClose {
    background: none;
    border: none;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 2000;
    cursor: pointer;
}

.closeIcon {
    width: 40px;
    height: 40px;
}

.listWrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 100px;
    z-index: 5;
}

@media screen and (max-width: 374px) {
    .menuModal {
        display: flex;
        flex-direction: column;
        width: 185px;
    }
    
    .imgThumb {
        display: flex;
        justify-content: center;
        margin-left: 20px;
    }
    
    .illustration {
        display: flex;
        justify-content: center;
        width: 363px;
        height: 318px;
        object-fit: contain;
        align-items: center;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .menuModal {
        display: flex;
        flex-direction: column;
        width: 185px;
    }

    .imgThumb {
        display: flex;
        justify-content: center;
        margin-left: 20px;
    }
    
    .illustration {
        display: flex;
        justify-content: center;
        width: 363px;
        height: 318px;
        object-fit: contain;
        align-items: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .menuModal {
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    .imgThumb {
        display: flex;
        justify-content: center;
        margin-left: 20px;
    }

    .illustration {
        display: flex;
        justify-content: center;
        width: 498px;
        height: 435px;
        object-fit: contain;
        align-items: center;
    }
}

@media screen and (min-width: 1440px) {
    .menuModal {
        display: none;
    }

    .burgerButton {
        display: none;
    }
}