.navContainer {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.navLink:hover {
    color: rgba(18, 20, 23, 0.5);
    cursor: pointer;
}

.active {
    color: #FCFCFC !important;
    background-color: #85AA9F;
}

.navLink {
    text-decoration: none;
    font-family: "FixelDisplay", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #121417;
    padding: 12px 20px;
    border-radius: 15px;
}

@media screen and (max-width: 374px) {
    .navContainer {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        margin-left: -20px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .navContainer {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        margin-left: -20px;
    }    
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .navContainer {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
    }
}