.navContainer {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.navLink:hover {
    color: rgba(18, 20, 23, 0.5);
    cursor: pointer;
}

.active {
    color: #FCFCFC !important;
    background-color: #85AA9F;
}

.navLink {
    text-decoration: none;
    font-family: "FixelDisplay", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #121417;
    padding: 12px 20px;
    border-radius: 15px;
}