.header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin-left: 100px;
}

.logoContainer {
    display: flex;
    gap: 16px;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.headerContainer {
    background-color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
}

.hidden {
    display: none;
}

.navUserWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.navUserContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}