.statistics {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -10%;
    gap: 8px;
}

.study {
    font-family: "FixelDisplay", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(18, 20, 23, 0.5);
}

.studyCount {
    font-family: "FixelDisplay", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    color: #121417;
}