.dashboardContainer {
    display: flex;
    flex-direction: row;
    gap: 19px;
    margin-bottom: 30px;
    margin-top: 32px;
}

.statisticsContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 10px;
}

.trainContainer {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.trainLink {
    font-family: "FixelDisplay", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    color: #121417;
    display: flex;
    gap: 10px;
    text-decoration: none;
}

.arrowIcon {
    width: 20px;
    height: 20px;
}