.dashboardContainer {
    display: flex;
    flex-direction: row;
    gap: 19px;
    margin-bottom: 30px;
    margin-top: 32px;
    min-height: 70px;
    align-items: flex-start;
}

.statisticsContainer {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    margin-left: -120px;
}

.trainContainer {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.trainLink {
    font-family: "FixelDisplay", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    color: #121417;
    display: flex;
    gap: 10px;
    text-decoration: none;
}

.trainLink:hover {
    color: rgba(18, 20, 23, 0.5);
}

.arrowIcon {
    width: 20px;
    height: 20px;
}