.filtersContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-right: 400px;
}

.filterInput {
    width: 100%;
    position: relative;
}

.inputFilter {
    font-family: "FixelDisplay", sans-serif;
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 15px;
    padding: 12px 24px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    height: 48px;
    width: 274px;
    outline: none;
}

.inputFilter::placeholder {
    color: #121417;
    opacity: 1;
    font-family: "FixelDisplay", sans-serif;
}

.searchIcon {
    position: absolute;
    width: 20px;
    height: 20px;
    fill: transparent;
    right: 30px;
    top: 30%;
    cursor: pointer;
}

.radioBtn {
    display: flex;
    flex-direction: row;
    gap: 16px;
    visibility: hidden;
}

.radioBtn.visible {
    visibility: visible;
}

.radioContainer {
    font-family: "FixelDisplay", sans-serif;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    font-size: 14px;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: 0%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid rgba(18, 20, 23, 0.2);
    box-sizing: border-box;
}

.radioContainer:hover .checkmark {
    border: 2px solid #85AA9F;
}

.radioContainer input:checked~.checkmark {
    box-sizing: border-box;
    border: 2px solid #85AA9F;
    border-radius: 10px;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
    top: 2px;
    left: 2.3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #85aa9f;
}

.radioContainer input:checked~.checkmark::after {
    display: block;
}

.radioContainer:hover input~.checkmark::after {
    display: block;
}

@media screen and (max-width: 374px) {
    .filtersContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 400px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .filtersContainer {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-left: 150px;
        max-width: 343px;
    }
    
    .filterInput {
        max-width: 343px;
        margin-left: 8px;
    }
}