body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #F8F8F8;
    font-family: "FixelDisplay", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    vertical-align: middle;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}