.trainingPercent {
    display: flex;
    flex-direction: row;
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    margin-top: 13px;
    margin-left: 17px;
}

.tablePercent {
    display: flex;
    position: absolute;
    flex-direction: row;
    margin-left: 35px;
    margin-top: 2px;
}