.logoutContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageAvatar {
    width: 48px;
    height: 48px;
    border-radius: 30px;
    margin-right: -120px;
}

.userAvatar {
    position: relative;
    margin-top: 15px;
    left: 96px;
    width: 16px;
    height: 16px;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

.avatarWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: -220px;
}

.userName {
    font-family: "FixelDisplay", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #121417;
    position: relative;
    left: -90px;
}

.logoutBtn {
    background: none;
    border: none;
    color: #121417;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0%;
    line-height: 24px;
    cursor: pointer;
    font-family: "FixelDisplay", sans-serif;
}

.logoutBtn:hover {
    color: rgba(18, 20, 23, 0.5);
}